/* Typography */

h1 {
    font-size: 48px;
    line-height: 77px;
}

h2 {
    font-size: 36px;
    line-height: 58px;
}

h3 {
    font-size: 28px;
    line-height: 45px;
}

h4 {
    font-size: 24px;
    line-height: 38px;
}

h5 {
    font-size: 20px;
    line-height: 32px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}

p {
    font-size: 14px;
    line-height: 22px;
}

.big-text-60 {
    font-size: 60px;
    line-height: 86px;
}

.big-text-24 {
    font-size: 24px;
    line-height: 38px;
}

.big-text-20 {
    font-size: 20px;
    line-height: 32px;
}

.big-text {
    font-size: 16px;
    line-height: 26px;
}

.small-text {
    font-size: 14px;
}

.extra-small-text {
    font-size: 12px;
}

.takes-sm-lineheight {
    line-height: 58px;
}

.takes-xm-lineheight {
    line-height: 56px;
}

.takes-lineheight-24 {
    line-height: 24px;
}

.takes-lineheight-32 {
    line-height: 32px;
}

.takes-lineheight-36 {
    line-height: 36px !important;
}

.small-icon-25 {
    font-size: 25px;
    line-height: 25px
}

.small-icon-30 {
    font-size: 32px;
    line-height: 32px
}

.small-icon-36 {
    font-size: 36px;
    line-height: 36px
}

.small-icon-40 {
    font-size: 40px;
    line-height: 40px
}

.big-icon-50 {
    font-size: 50px;
    line-height: 50px;
}

.big-icon-55 {
    font-size: 55px;
}

.big-icon-65 {
    font-size: 65px;
    line-height: 65px;
}

.big-icon-60 {
    font-size: 60px;
    line-height: 60px;
}

.big-icon {
    font-size: 70px;
}

.big-icon-80 {
    font-size: 80px;
    line-height: 80px;
}

.big-icon-90 {
    font-size: 90px;
    line-height: 90px;
}

.big-icon-100 {
    font-size: 100px;
    line-height: 100px;
}

.big-icon-120 {
    font-size: 120px;
    line-height: 120px;
}

.big-icon-140 {
    font-size: 140px;
    line-height: 140px;
}

.takes-bold {
    font-weight: 700;
}

.takes-icon-big {
    font-size: 40px;
}

.big-line-height {
    line-height: 50px;
}

.takes-max-width-120 {
    max-width: 120px;
}

.takes-max-width-220 {
    max-width: 120px;
}

.takes-xxs-width-text {
    max-width: 270px;
    display: inline-block;
}

.takes-xs-width-text {
    max-width: 520px;
    display: inline-block;
}

.takes-small2-width-text {
    max-width: 580px;
    display: inline-block;
}

.takes-small-width-text {
    max-width: 700px;
    display: inline-block;
}

.takes-md-width-text {
    max-width: 750px;
    display: inline-block;
}

.takes-fixed-width {
    max-width: 100%;
    width: 700px;
}

.takes-fixed-width-580 {
    max-width: 100%;
    width: 580px;
}

.takes-fixed-width-480 {
    max-width: 100%;
    width: 480px;
}

.takes-fixed-width-380 {
    max-width: 100%;
    width: 380px;
}