/* Right Sidebar */
#right_sidebar .right_inner {
        
}
.takes_right_header {
    margin: 10px 0;
}
.takes_right_header .title {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    font-size: 15px;
}
#right_sidebar .nav-tabs {
    border: 2px solid #eee;
    border-radius: 4px;
    display: inline-block;
    
}

#right_sidebar .nav-tabs li {
    background: transparent;
    margin: 0px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
#right_sidebar .nav-tabs li.active {
    background: #eee;
    box-shadow: none !important;
    border: 0px;
}
#right_sidebar .nav-tabs li a {
    background: transparent;
    box-shadow: none !important;
    border: 0px;
    padding: 6px 20px;
    border-right: 2px solid #eee;
    border-radius: 0px;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
    font-size: 12px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
#right_sidebar .nav-tabs li:last-child a {border-right: 0px;}
#right_sidebar .nav-tabs li.active a {
    color: #444;
}
#right_sidebar label {
    font-family: 'Open Sans', sans-serif;   
    font-size: 13px;
    font-weight: normal;
}
